<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilos.css'%}">
</head>
<body>
<h1 style="color:blue;">Mis películas favoritas</h1>

<table border="1" style="width:100%">
        <tr>
            <th>TITULO</th>
            <th>CARATULA</th>

        </tr>
        {% for tit,foto in listado_peliculas%}

            <tr>
                <td>{{tit}}</td>
                <td><img src="{% static 'carteles/'%}{{foto}}" width="150" height="150"/></td>
            </tr>
       {% endfor%}
</table>
</body>
</html>